.main {
  width: 100vw;
  height: 100vh;
  padding: 0.5rem;
}

.container {
  overflow: hidden;
  height: 100%;
  border: 2px solid var(--primary-color);
  border-radius: 0.25rem;
  padding: 16px;
}

.container2 {
  overflow-y: auto;
  overflow-x: auto;
  height: 100%;
}

.terminal {
  width: 100%;
  background-color: var(--background-color);
  max-width: 100%;
}

.newline {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 5px;
}
.input {
  background-color: var(--background-color);
  border: 0px;
  min-width: 100%;
  max-height: 100% !important;
  overflow: hidden;
  resize: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input:focus {
  outline: none !important;
}
