.main {
  width: 100vw;
  height: 100vh;
  padding: 1.4rem;
  background-image: url("../public/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  overflow: hidden;
  height: 100%;
  border: 4px solid var(--primary-color);
  /* border-radius: 0.25rem; */
  padding: 16px;
  background-color: rgba(17, 28, 34, 0.688);
  backdrop-filter: blur(3px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.8);
}

.container2 {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.terminal {
  width: 100%;
  max-width: 100%;
}

.newline {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 5px;
}
.input {
  background-color: var(--background-color);
  border: 0px;
  min-width: 100%;
  max-height: 100% !important;
  overflow: hidden;
  resize: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input:focus {
  outline: none !important;
}
