.main {
  width: 100vw;
  height: 100vh;
  padding: 4rem;
  background-color: #152229;
}

.container {
  overflow: hidden;
  height: 100%;
  padding: 30px;
  background-color: #111c22;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
}

.container2 {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.terminal {
  width: 100%;
  max-width: 100%;
}

.newline {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 5px;
}
.input {
  background-color: var(--background-color);
  border: 0px;
  min-width: 100%;
  max-height: 100% !important;
  overflow: hidden;
  resize: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input:focus {
  outline: none !important;
}
